#game-screen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  aspect-ratio: 4 / 3;
  width: 100vw;
  max-height: 100vh;
  margin: auto;
  background-image: url("../images/background/game-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
}